.clr-row .clr-control-container {
  display: block;
  width: 100%;
}
.clr-row .clr-control-container .clr-validate-icon {
  vertical-align: top;
  margin-left: 0;
}
.clr-row .clr-control-container .clr-select-wrapper,
.clr-row .clr-control-container .clr-select {
  width: calc(100% - 1rem);
}
.clr-row .clr-control-container .hf-search-wrapper > .hf-search,
.clr-row .clr-control-container .hf-search-select-input,
.clr-row .clr-control-container .hf-search-input-text-container {
  width: calc(100% - 1rem);
}
.clr-row .clr-control-container .clr-input-wrapper > .clr-input {
  width: calc(100% - 1rem);
}
.clr-row .clr-control-container .clr-textarea-wrapper {
  display: block;
}
.clr-row .clr-control-container .clr-textarea-wrapper > textarea {
  width: calc(100% - 1rem);
  max-width: initial;
}
.clr-row .clr-control-container .clr-input-wrapper {
  width: 100%;
}
.clr-row .clr-control-container .clr-input-wrapper > .clr-input-group {
  max-width: 100%;
  width: 100%;
  padding-right: 0.4rem;
}
.clr-row .clr-control-container .clr-input-wrapper > .clr-input-group > input {
  width: calc(100% - 1rem);
}
