<column [xs]="12" [md]="labelWidth">
  <label [for]="name"> <!-- [ngClass]="{ required: form.controls[name].validator.required }" class="required">-->
    {{ label }}
  </label>
</column>

<column [xs]="12" [md]="fieldWidth - labelWidth" [formGroup]="form">
  <label [for]="name" class="form-control tooltip tooltip-validation tooltip-md tooltip-top-left"
     [ngClass]="{'invalid': !form.controls[name].valid }" aria-haspopup="true" role="tooltip">

    <input *ngIf="type == 'input'" [formControlName]="name" [id]="name" type="text" class="form-control" [placeholder]="placeholder">

    <select *ngIf="type == 'select'" [formControlName]="name" [id]="name" class="form-control" [title]="placeholder">
      <option *ngFor="let option of options" [value]="option.value" [label]="option.label"></option>
    </select>

    <textarea *ngIf="type == 'textarea'" [formControlName]="name" [id]="name" class="form-control" [placeholder]="placeholder" rows="10"></textarea>

    <span class="tooltip-content" [hidden]="form.controls[name].valid || form.controls[name].pristine">
      {{ label }} is a required field.
    </span>
  </label>
</column>
